/* =================DEFAULT=================
============================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  transition: all 0.15s linear;
  font-family: system-ui, cursive;
}
/* =================VARIABLES=================
============================================== */
:root {
  --red: hsl(5, 78%, 57%) !important;
  --blue: hsl(225, 69%, 52%) !important;
  --gray: hsl(231, 26%, 89%) !important;
  --red-alt: hsl(5, 93%, 52%) !important;
  --red-alt-bg: hsl(4, 79%, 83%, 0.3) !important;
  --black: hsl(232, 8%, 38%) !important;
  --black-1: hsl(232, 8%, 38%) !important;
  --green: hsl(166, 81%, 42%) !important;
  --green-alt: hsl(166, 85%, 42%) !important;
  --green-alt-bg: rgba(85, 188, 165, 0.2) !important;
  --white: hsl(200, 18%, 100%) !important;
  --yellow: hsl(43, 91%, 60%) !important;
  --sea-blue: hsl(188, 90%, 46%) !important;
  --black-alt: hsl(232, 8%, 68%) !important;
  --background: hsl(225, 40%, 98%) !important;
  --background-1: hsl(225, 40%, 98%) !important;
  --light-white: hsl(200, 18%, 80%) !important;
  --text-gray-500: hsl(234, 17%, 76%) !important;
}
/* =================GENERAL==================
============================================== */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-size: 0.784rem;
  color: var(--black-alt);
  background: var(--background);
}
a {
  cursor: pointer;
}
/* =================GLOBAL CLASSES============
============================================== */
button {
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
select,
input {
  font-weight: 300;
  text-transform: none;
  color: var(--black-alt);
  border: 1px solid transparent;
  background: var(--background-1);
  border-radius: 0.38rem;
  text-transform: none;
}
.s-box,
.box {
  border: 1px solid var(--gray);
}
.s-box {
  font-size: 0.9rem;
}
.img-round-sm {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.profile {
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.border-top {
  border-top: 1px solid var(--black-alt);
}
.title {
  font-weight: 500;
  font-size: 2rem;
}

img {
  width: 100%;
}
.btn-tt {
  position: fixed;
  right: 6%;
  bottom: 5%;
  padding: 0.4rem 1rem;
  background: var(--blue);
  font-size: 1.2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem rgba(201, 191, 191, 0.3);
  color: var(--white);
  z-index: 10000;
}
.btn-tt:hover {
  opacity: 1;
  background: var(--green);
}
.btn-save {
  padding: 0.5rem 0.8rem;
  color: var(--white);
  border-radius: 0.25rem;
  margin-top: 1rem;
}
.input-box span {
  text-transform: capitalize;
}
.icon-round {
  width: 2.8rem;
  aspect-ratio: 1/1;
  font-size: 1rem;
  border-radius: 50%;
  background: var(--yellow);

  display: flex;
  align-items: center;
  justify-content: center;
}
.blue {
  background: var(--blue);
}
.green {
  background: var(--green);
}
.text-white {
  color: var(--white);
}
.text-gray-500 {
  color: var(--text-gray-500);
}
.text-gray {
  color: var(--black-alt);
  text-transform: none;
}
h4 {
  font-weight: 600;
}
.text-black {
  color: var(--black);
}
.text-blue {
  color: var(--blue);
}
.text-sea-blue {
  color: var(--sea-blue);
}
.text-green {
  color: var(--green);
}
.text-yellow {
  color: var(--yellow);
}
/* error message box */
.empty-msg-box {
  position: relative;
  top: 1.2rem;
  width: 100%;
  margin: 0 auto;
  background: var(--red-alt-bg);
  padding: 0.6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.empty-msg-box button {
  background: none;
  font-size: 1.4rem;
  color: var(--red);
}
.empty-msg-box.error {
  color: var(--red);
}
.empty-msg-box.success {
  background: var(--green-alt-bg);
  color: var(--green);
}
/* =================ASIDE NAVBAR=============
============================================== */
main {
  position: relative;
  display: grid;
  grid-template-columns: 15rem auto;
}
aside {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem;
  min-height: auto;
  background: var(--blue);
}
.navbar {
  width: 100%;
  background: var(--blue);
  margin-top: 1rem;
}
.navbar .brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--white);
  gap: 0.5rem;
}
.navbar .brand img {
  width: 3rem;
  aspect-ratio: 1/1;
}
.navbar .navbar-items {
  margin-top: 2rem;
}
.navbar-items a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--light-white);
  gap: 0.5rem;
  margin: 1rem auto;
  padding: 0.8rem 0.8rem;
  border-left: 2px solid transparent;
}

.navbar-items a:is(:link, :active, :visited).active,
.navbar-items a:hover {
  color: var(--white);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}
/* toggle wrapper */
.toggle-wrapper {
  display: flex;
  margin-top: 4rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.toggle-wrapper .toggle {
  width: 2.5rem;
  font-size: 1rem;
  aspect-ratio: 1/1;
  color: var(--white);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.toggle-wrapper .toggle:hover {
  background: rgba(255, 255, 255, 0.5);
}
.toggle-wrapper .toggle.open-btn {
  display: none;
}
/* close btn */
#brand-pgh.hide {
  display: none;
}

.navbar-items a.shrink {
  gap: 0;
  font-size: 0.8rem;
  flex-direction: column;
}
.navbar-items a.shrink:hover,
.navbar-items .active.shrink {
  background: none;
  border-left-color: transparent;
}
main.adjust {
  grid-template-columns: 7rem auto;
}
/* =================DASHBOARD=================
============================================== */
.main-dash-container {
  position: relative;
}
/* header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0.8rem 3%;
  align-items: center;
  background: var(--white);
  justify-content: space-between;
  box-shadow: 0 0 1rem rgba(105, 104, 104, 0.1);
}
/* humberger menu */
.humberger-menu {
  display: none;
}
.humberger {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--black);
  background: transparent;
}
.humberger:hover {
  background: rgba(155, 155, 155, 0.2);
}
/* form control */
.form-control-box {
  width: 40%;
}
.form-control-box .form {
  position: relative;
  width: 100%;
  display: flex;
}
.form-control-box .form input {
  width: 90%;
  padding: 0.55rem 1rem;
  background: var(--background);
  border-radius: 0.25rem 0 0 0.25rem;
}
.btn-search {
  width: 2rem;
  aspect-ratio: 1/1;
  font-size: 1rem;
  background: none;
  color: var(--light-white);
}
/* search button large screen */
.saerch-lg-btn {
  width: 2.4rem;
  background: var(--blue);
  border-radius: 0 0.25rem 0.25rem 0;
}
.saerch-lg-btn:hover {
  opacity: 0.8;
  color: var(--white);
}
/* small screen search button */
.small-screen-search-toggle-btn {
  display: none;
}
.small-screen-search-toggle-btn:hover {
  opacity: 0.8;
}
/* notifications and account box container */
.notify-and-account-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  z-index: 100001;
}
/* notifications and messages */
.nofitification-and-messages-box {
  position: relative;
  display: flex;
}
.nofitification-and-messages-box .wrapper {
  position: relative;
  margin: 0 1rem;
}
.nofitification-and-messages-box .wrapper .alert-content {
  position: absolute;
  top: 220%;
}
/* icon buttons */
.nofitification-and-messages-box .wrapper .icon-btn {
  position: relative;
  background: none;
  font-size: 1rem;
  opacity: 0.8;
}
.nofitification-and-messages-box .wrapper .icon-btn:hover {
  opacity: 1;
}
.nofitification-and-messages-box .wrapper .icon-btn small {
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  background: var(--red-alt);
  padding: 1px 5px;
  font-size: 0.6rem;
  font-weight: 500;
  border-radius: 0.24rem;
}
/* alert content */
.alert-content {
  width: 20rem;
  left: -10rem;
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(105, 104, 104, 0.1);
  z-index: 99;
  transform: scale(0);
}
.alert-content.active {
  transform: scale(1);
}
.alert-content h4 {
  padding: 0.5rem 3%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.alert-content .alert {
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  background: none;
  align-items: center;
}
.alert-content .show-all {
  border-radius: 0 0 0.5rem 0.5rem;
}
.alert-content .alert:hover,
.alert-content .show-all:hover {
  background: var(--background);
}
.alert-content .alert span {
  text-align: left;
}
.alert-content .alert span small {
  padding: 1.5rem 0;
}
.alert-content .alert span p {
  font-size: 0.75rem;
  padding: 0.4rem 0;
}
.alert-content .show-all {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: var(--black);
  background: none;
  border-radius: 0 0 0.5rem 0.5rem;
  font-weight: 300;
}

/* admin account box */
.admin-account-box,
.admin-account-box .account {
  position: relative;
}
.admin-account-box .account {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-left: 1px solid var(--gray);
}
.admin-account-box .dropdown {
  position: absolute;
  top: 150%;
  width: 9rem;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0.285rem;
  transform: scale(0);
  box-shadow: 0 0 1rem rgba(105, 104, 104, 0.1);
  z-index: 99;
}
.admin-account-box .dropdown a:nth-child(1) {
  border-radius: 0.25rem 0.25rem 0 0;
}
.admin-account-box .dropdown a:nth-child(4) {
  border-radius: 0 0 0.25rem 0.25rem;
}
.admin-account-box .dropdown.active {
  transform: scale(1);
}
.admin-account-box .dropdown a {
  display: block;
  padding: 0.5rem 0.8rem;
}
.admin-account-box .dropdown a:hover {
  background: var(--background);
}

/* ===================MAIN CONTENT=======================
=========================================================== */
.main-content {
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content-container {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  gap: 4rem;
  grid-template-columns: 18rem auto;
}
/* admin profile */
.admin-profile {
  /* flex-basis: 18rem; */
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(201, 191, 191, 0.3);
  padding: 1.5rem;
  height: max-content;
}
.admin-profile .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.admin-profile .form .box {
  padding: 0.4rem;
}
/* admin details */
.admin-details {
  /* flex-basis: 68%; */
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(201, 191, 191, 0.3);
}
.admin-details h1 {
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--background);
  border-bottom: 1px solid var(--black-alt);
}
.admin-details .form {
  padding: 1rem 1.6rem;
  width: 100%;
}
.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.input-box {
  width: 100%;
}
.box {
  width: 100%;
  padding: 0.5rem;
  color: var(--black);
  font-size: 0.89rem;
}
.box::placeholder {
  color: var(--black-alt);
}
.input-box span {
  display: block;
  font-size: 1rem;
  color: var(--black);
  padding: 0.5rem 0;
}
/* ===============FOOTER==================*/
.btn-go-up {
  position: fixed;
  right: 8%;
  bottom: 7%;
  text-align: center;
  color: var(--white);
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
  background: var(--blue);
  z-index: 100;
  font-size: 1.2rem;
}
.btn-go-up:hover {
  background: var(--sea-blue);
}
.footer {
  position: relative;
  bottom: 0;
  margin-top: 10rem;
  width: 100%;
  text-align: center;
  font-size: 0.88rem;
  padding: 1rem;
}
/* change password */
.admin-profile.change-password {
  padding: 0;
}
.change-password h1 {
  padding: 0.8rem 1.2rem;
  font-size: 0.98rem;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--background);
  border-bottom: 1px solid var(--black-alt);
}
.change-password .form {
  text-align: center;
  justify-content: flex-start;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
}
.p-flex {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--black);
  font-size: 0.89rem;
  padding: 0.2rem;
  background: var(--background);
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}
.p-flex .box {
  border: none;
}
.p-wrapper {
  display: flex;
}
.btn-pwd {
  font-size: 0.78rem;
}
.btn-pwd:hover {
  opacity: 0.7;
}
.hide-pwd {
  display: none;
}

/* ========================MEDIA QUERIES=======================
================================================================ */
@media screen and (max-width: 1040px) {
  .content-container {
    gap: 1.4rem;
  }
  .flex {
    flex-direction: column;
    gap: 0.4rem;
  }
}
@media screen and (max-width: 854px) {
  .content-container {
    margin-top: 10rem;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .admin-profile {
    margin-top: 2rem;
  }
  /* header style*/
  .header {
    width: 100%;
    z-index: 1000;
  }
  .notify-and-account-container {
    gap: 1rem;
    z-index: 10001;
  }
  .brand #brand-pgh {
    font-size: 1.4rem;
  }
  main {
    grid-template-columns: 10rem auto;
  }
  main.adjust {
    grid-template-columns: 5rem auto;
  }
  .nofitification-and-messages-box .wrapper .alert-content {
    left: -13rem;
  }
  .nofitification-and-messages-box .wrapper .alert-content.notify {
    left: -10.5rem;
  }
}
@media screen and (max-width: 794px) {
  .content-container {
    width: 80%;
  }
  /* form control */
  .form-control-box {
    position: absolute;
    top: 120%;
    left: 1rem;
    width: 90%;
    padding: 1rem 1.5rem;
    background: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(155, 155, 155, 0.2);
    transform: scale(0);
    opacity: 0;
  }
  .form-control-box.active {
    transform: scale(1);
    opacity: 1;
    z-index: 999;
  }
  .form-control-box.width {
    width: 85%;
    left: 0.5rem;
  }
  /* search button on small devices */
  .small-screen-search-toggle-btn {
    display: inline-block;
  }
  .alert-content.notify {
    left: -7rem;
  }
  .header.onopen,
  .main-content.onopen {
    min-width: 100%;
  }
}
@media screen and (max-width: 554px) {
  /* humberger */
  .humberger-menu {
    display: flex;
  }
  .close-menu-btn {
    display: none;
  }
  .navbar-items a:hover {
    background: none;
  }
  /* aside */
  main {
    grid-template-columns: 6.5rem auto;
  }
  aside {
    display: none;
    z-index: 199;
  }
  aside.active {
    display: inline-block;
  }
  .navbar-items a {
    gap: 0;
    font-size: 0.8rem;
    flex-direction: column;
  }
  .toggle-wrapper {
    display: none;
  }
  #brand-pgh {
    display: none;
  }

  /* header */
  .header {
    width: 100vw;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .header.active {
    width: 70vw;
  }
  /* main content */
  .main-content {
    width: 100vw;
  }
  .main-content.active {
    width: 70vw;
  }
  .content-container {
    width: 90%;
  }
  .nofitification-and-messages-box {
    gap: 0;
  }
  .admin-account-box p {
    display: none;
  }
  .dropdown {
    left: -5rem;
  }
}

@media screen and (max-width: 475px) {
  /* alerts */
  .nofitification-and-messages-box .wrapper .alert-content {
    width: 14.3rem;
    left: -8rem;
  }
  .nofitification-and-messages-box .wrapper .alert-content.notify {
    left: -5.5rem;
  }
}
